
  <footer class="footer">
    <div class="footer__wrap">
      <p>Тестовый набор иконок:</p>
      <ul>
        <li>{{ icon('home', class_name='test') }}</li>
        <li>
          {{- icon('edit') }}
        </li>
        <li>
          {{- icon('tool') }}
        </li>
        <li>
          {{- icon('star', 64, 64) }}
        </li>
      </ul>
    </div>
  </footer>