{% from "macros/routes.j2" import url_for_resize %}
{% macro picture_dev(class_name, alt, width, height, file_name, file_name2x=None, type='jpg', responsive=None, webp=False, webp2x=False) -%}
  {#
  Генерирует picture обертку с img картинкой для разных разрешений экрана и ретиной.

  Parameters:
  :param {string} class_name - Класс тега img. Передается в кавычках.
  :param {string} file_name - Путь к файлу. Передается в кавычках.
  :param {boolean|string} file_name2x - Если необходима ретина, то передается путь к файл двойной плотности
  :param {string} alt - Описание изображения в теге img. Передается в кавычках.
  :param {number} width - Ширина изображения.
  :param {number} height - Высота изображения.
  :param {string} type - Тип изображения, по-умолчанию jpeg
  :param {boolean|array} responsive - Если нужно медиа с разными разрешениями, то передается массив объектов с разрешениями и сопоставлениями файлов, если нет - None
  :param {boolean|string} webp — Если нужно ещё webp формат, то передается путь к этому файлу
  :param {boolean|string} webp2x — Если нужно ещё webp формат двойной плотности, то передается путь к этому файлу
  #}
  <picture>
    {% if responsive %}
      {% for image in responsive %}
        {{ source(image.min_width, image.file_name, image.file_name2x, type, image.webp, image.webp2x, image.width, image.height) }}
      {% endfor %}
    {% endif %}
    {% if webp %}
      <source type="image/webp" srcset="{%- if webp2x -%}{{ webp2x }} 2x, {{ webp }} 1x{%- else -%}{{ webp }}{%- endif -%}" width="{{ width }}" height="{{ height }}">
    {% endif %}
    <img class="{{ class_name }}"{% if file_name2x %} srcset="{{ file_name2x }} 2x, {{ file_name }} 1x"{% endif %} src="{{ file_name }}" width="{{ width }}" height="{{ height }}" alt="{{ alt }}">
  </picture>
{%- endmacro %}

{% macro source(min_width, file_name, file_name2x, type, webp, webp2x, width, height) -%}
  {% if webp %}
    <source type="image/webp" media="(min-width: {{ min_width }}px)" srcset="{%- if webp2x -%}{{ webp2x }} 2x, {{ webp }} 1x{%- else -%}{{ webp }}{%- endif -%}" width="{{ width }}" height="{{ height }}">
  {% endif %}
  <source type="image/{{ type }}" media="(min-width: {{ min_width }}px)" srcset="{%- if file_name2x -%}{{ file_name2x }} 2x, {{ file_name }} 1x{%- else -%}{{ file_name }}{%- endif -%}" width="{{ width }}" height="{{ height }}">
{%- endmacro %}

{% macro picture(class_name, file_name, alt, type, width, height, bp_tablet, file_name_tablet, width_tablet, height_tablet, bp_desktop, file_name_desktop, width_desktop, height_desktop, fill=False) -%}
  {#
  Основной макрос, генеринует picture обертку с img картинкой для разных разрешений экрана и ретиной.

  :param {string} class_name - Класс тега img.
  :param {string} file_name - Путь к файлу, автоматически генерирует полный путь.
  :param {string} alt - Описание изображения в теге img.
  :param {number} width - Ширина изображения для мобильного.
  :param {number} height - Высота изображения для мобильного.
  :param {number} bp_tablet - Ширина вьюпорта для переключения на планшетную версию.
  :param {number} width_tablet - Ширина изображения для планшета.
  :param {number} height_tablet - Высота изображения для планшета.
  :param {number} bp_desktop - Ширина вьюпорта для переключения на десктопную версию.
  :param {number} width_desktop - Ширина изображения для десктопа.
  :param {number} height_desktop - Высота изображения для десктопа.

  Пример вызова:
    {{ picture(
      class_name='image-class',
      file_name='products/%s' % product.image,
      alt='Изображение для товара %s' % product.title,
      width=200,
      height=150,
      bp_tablet=834,
      file_name_tablet,
      width_tablet=300,
      height_tablet=200,
      bp_desktop=1440,
      file_name_desktop,
      width_desktop=400,
      height_desktop=300
    ) }}
  #}
  {%- set width2x = width * 2 %}
  {%- set height2x = height * 2 %}
  {%- set width_tablet2x = width_tablet * 2 %}
  {%- set height_tablet2x = height_tablet * 2 %}
  {%- set width_desktop2x = width_desktop * 2 %}
  {%- set height_desktop2x = height_desktop * 2 %}

  {% set responsive = [{
    'min_width': bp_desktop,
    'file_name': url_for_resize(file_name_desktop, retina=false, file_type=type),
    'file_name2x': url_for_resize(file_name_desktop, retina=true, file_type=type),
    'webp': url_for_resize(file_name_desktop, retina=false, file_type='webp'),
    'webp2x': url_for_resize(file_name_desktop, retina=true, file_type='webp'),
    'width': width_desktop,
    'height': height_tablet
  },{
    'min_width': bp_tablet,
    'file_name': url_for_resize(file_name_tablet, retina=false, file_type=type),
    'file_name2x': url_for_resize(file_name_tablet, retina=true, file_type=type),
    'webp': url_for_resize(file_name_tablet, retina=false, file_type='webp'),
    'webp2x': url_for_resize(file_name_tablet, retina=true, file_type='webp'),
    'width': width_tablet,
    'height': height_tablet
  }] %}

  {{ picture_dev(
  class_name=class_name,
  file_name=url_for_resize(file_name, retina=false, file_type=type),
  file_name2x=url_for_resize(file_name, retina=true, file_type=type),
  alt=alt,
  width=width,
  height=height,
  responsive=responsive,
  webp=url_for_resize(file_name, retina=false, file_type='webp'),
  webp2x=url_for_resize(file_name, retina=true, file_type='webp')
  ) }}
{%- endmacro %}

{% macro picture_svg(class_name, file_name, alt, width, height, bp_tablet, file_name_tablet, width_tablet, height_tablet, bp_desktop, file_name_desktop, width_desktop, height_desktop) %}
{#Пример вызова:
{{ picture_svg(
  class_name='image-class',
  file_name='content/image-mobile',
  alt='Изображение для товара',
  width=200,
  height=150,
  bp_tablet=(media.tablet),
  file_name_tablet='content/image-tablet',
  width_tablet=300,
  height_tablet=200,
  bp_desktop=(media.desktop),
  file_name_desktop='content/image-desktop',
  width_desktop=400,
  height_desktop=300
) }}
#}
{%- set file_name = url_for_resize(file_name, retina=false, file_type='svg') %}
{%- set file_name_tablet = url_for_resize(file_name_tablet, retina=false, file_type='svg') %}
{%- set file_name_desktop = url_for_resize(file_name_desktop, retina=false, file_type='svg') %}

<picture>
  {% if file_name_desktop %}
  <source media="(min-width: {{ bp_desktop }}px)" srcset="{{ file_name_desktop }}" width="{{ width_desktop }}" height="{{ height_desktop }}">
  {% endif %}
  {% if file_name_tablet %}
    <source media="(min-width: {{ bp_tablet }}px)" srcset="{{ file_name_tablet }}" width="{{ width_tablet }}" height="{{ height_tablet }}">
  {% endif %}
  <img class="{{ class_name }}" src="{{ file_name }}" width="{{ width }}" height="{{ height }}" alt="{{ alt }}">
</picture>
{%- endmacro %}